.app {
  font-family: $titillium;
  min-height: 100vh;
}

.app-wrapper {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
}

.page-archive .app-wrapper {
  min-width: 80rem;
  max-width: 120rem;
}
