.app {
  background-color: #f8f3eb;
  font-family: $titillium;
  min-height: 100vh;
}

.app-wrapper {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
}

.page-archive .app-wrapper {
  max-width: 80rem;
}
