.archive {
  display: grid;
}

.archive-table {
  border: 2px solid $black;
  font-size: .8rem;
  margin-bottom: 1rem;
  min-width: 80rem;
  table-layout: fixed;
  width: 100%;

  thead {
    font-weight: bold;
  }

  th {
    background: $black;
    color: $white;
    padding: .5rem;
    position: sticky;
    text-align: left;
    top: -2px;

    a {
      color: $white;
    }
  }

  tr {
    border-bottom: 1px solid $silver;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    padding: .5rem;
  }
}

.archive-table__cell--published-at { width:  5%; }
.archive-table__cell--title        { width: 29%; }
.archive-table__cell--song         { width: 15%; }
.archive-table__cell--artist       { width: 15%; }
.archive-table__cell--album        { width: 15%; }
.archive-table__cell--year         { width:  5%; }
.archive-table__cell--category     { width:  8%; }
.archive-table__cell--author       { width:  8%; }

.archive-table__sort--asc {
  &:after {
    content: "🔼";
    display: inline-block;
    font-size: .6rem;
    margin-left: .2rem;
    margin-top: -.1rem;
    text-decoration: none;
    vertical-align: middle;
  }
}

.archive-table__sort--desc {
  &:after {
    content: "🔽";
    display: inline-block;
    font-size: .6rem;
    margin-left: .2rem;
    margin-top: -.1rem;
    text-decoration: none;
    vertical-align: middle;
  }
}

.archive-table__remove-filter {
  text-decoration: none;

  &:before {
    content: " ❌";
    display: inline-block;
    font-size: .5rem;
    margin-left: .2rem;
    margin-top: -.3rem;
    vertical-align: middle;
  }
}
