.post-view {

}

.post-view__title {
  font-family: $amaranth;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-view__meta {
  font-size: .8rem;
}

.post-view__author {
  margin-right: 1rem;
}

.post-view__author-image {
  border-radius: 1rem;
  display: inline-block;
  margin-right: .5rem;
  width: 20px;
  vertical-align: middle;
}

.post-view__author-name {
  display: inline-block;
  vertical-align: middle;
}

.post-view__date {
  vertical-align: middle;
  margin-right: 1rem;
}

.post-view__permalink {
  display: inline-block;
  vertical-align: middle;
}

.post-view__body {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.post-view__content {

}

.post-view__subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post-view__media {
  margin: 1rem 0;

  audio {
    width: 100%;
  }
}

.post-view__media-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
